"*":
  "atom-beautify":
    _analyticsUserId: "a43c63de-33b4-4da8-8205-032c93100942"
  core:
    disabledPackages: [
      "minimap"
    ]
    projectHome: "/Users/ia/dev"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 10
    invisibles: {}
  "exception-reporting":
    userId: "3c1f7771-4918-192c-ed04-f6a413acbfc3"
  "git-projects":
    rootPath: "/Users/ia/dev"
  "linter-jshint":
    node: true
    strict: false
  minimap:
    displayMinimapOnLeft: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "save-session":
    dataSaveFolder: "/Users/ia/.atom/packages/save-session/projects"
  welcome:
    showOnStartup: false
